html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.App {
  /*text-align: center;*/
  position: fixed;
}

.projection-d3 {
  padding: 1%;
  width: 90%;
  height: 90%;
  margin: 1%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
